@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

:root {
    --clr-light: #D5D2C9;
    --clr-dark-primary: #151415;
    --clr-dark-secondary: #29242A;
    --clr-accent: #C49250;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background: var(--clr-dark-primary);
    color: var(--clr-dark-primary);
    font-family: "PT Serif", "Georgia", serif;
}

.top-header,
.deck-cards {
    position: fixed;
    top: 0;
    left: 0;
}

.top-header,
.card__image,
.single-card {
    width: 100%;
}

.top-header {
    padding: 1rem;
    background: var(--clr-accent);
    font-size: 1.5rem;
    z-index: 3;
}

.deck-cards {
    bottom: 0;
    width: 20rem;
    background: var(--clr-light);
    padding: 5rem 1rem 1rem 1rem;
    z-index: 2;
}

.deck-cards__amount,
.deck-cards__type,
.cost__input {
    text-align: center;
}

.deck-cards__amount,
.type__list {
    margin-bottom: 2rem;
}

.deck-cards__amount {
    font-size: 2rem;
}

.deck-cards__type {
    color: var(--clr-accent);
}

.type__name {
    margin-bottom: 1rem;
}

.type__list,
.cards-list {
    list-style: none;
}

.card-bar,
.filters-bar,
.cardname,
.region,
.type,
.rarity,
.cost-wrapper,
.cost {
    display: flex;
}

.card-bar {
    position: relative;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 3rem;
    background: white;
}  

.card__image,
.card__amount {
    position: absolute;
}

.card__image {
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center 15%;
}

.card__amount {
    right: 1rem;
    padding: 0.5rem;
    background: var(--clr-accent);
    color: var(--clr-dark-primary);
}

.filters-bar {
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
    top: 3.5rem;
    left: 20rem;
    right: 0;
    padding: 1rem;
    background: var(--clr-dark-secondary);
    border-bottom: 1px solid var(--clr-accent);
    z-index: 2;
}

.cardname {
    margin-bottom: 1rem;
    width: 100%;
}

.cardname,
.region,
.type,
.rarity,
.cost {
    flex-direction: column;
    color: var(--clr-accent);
}

.cost {
    align-items: center;
}

.region,
.type,
.rarity,
.cost {
    margin-right: 2rem;
}

.cardname__label,
.region__label,
.type__label,
.rarity__label,
.cost__label {
    margin-bottom: 0.5rem;
}

.cardname__input {
    width: calc(50% + 1rem);
}

.cardname__input,
.region__select,
.type__select,
.rarity__select,
.cost__input {
    padding: 0.5rem;
    background: var(--clr-light);
    border: none;
}

.region__select,
.type__select,
.rarity__select {
    width: 150px;
}

.cost-wrapper {
    margin-left: auto;
}

.cost__input {
    width: 3rem;
}

.cards-list {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.5rem;
    padding: 15rem 1rem 1rem 21rem;
}

.single-card {
    cursor: pointer;
    transition: filter 1s;
}

.single-card:hover {
    filter: drop-shadow(1px 1px 8px var(--clr-accent));
}